<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>${title}</title>
    <meta name="description" content="${title}">
    <meta name="author" content="${author}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="${css_file}">
    <script type="text/javascript">
        window.$NAME = "${name}";
        window.$FOOTER = "${footer}";
        window.$HOME_ADDR = "${home_addr}";
    </script>
</head>
<body>
    <div id="mount"></div>
    <script type="module" src="${js_file}"></script>
</body>
</html>
